<launch>
    <arg name="params" default="$(find glins)/config/params_20240129.yaml"/>
    <!-- <arg name="params" default="$(find glins)/config/params_gwhudata.yaml"/> -->
    <arg name="bagpath" default="/home/ys/glins_ws/src/full_data/lidar_imu.bag"/>
    <arg name="imu_topic" default="/imu/data"/>
    <arg name="lidar_topic" default="/velodyne_points"/>
    <arg name="gps_week" default="2299"/>
    <arg name="start_sec" default="111965"/>
    <arg name="end_sec" default="113000"/>
    <arg name="output_path" default="/home/ys/glins_ws/output/total.pos"/>
    <arg name="rtklib_config_path" default="$(find glins)/config/conf/20240129.conf"/>
    <arg name="fgo_path" default="/home/ys/glins_ws/output/rtklib_fgo.pos"/>
    <arg name="save_pcd_directory" default="$(env HOME)/GLINS/output/"/>
    <arg name="rviz" default="true"/>
    <arg name="robot_state_publisher" default="false"/>
    <arg name="rviz_config" default="$(find glins)/launch/include/config/vlp.rviz"/>

    <param name="use_sim_time" value="true"/>
    <rosparam file="$(arg params)" command="load"/>

    <param name="glins/savePCDDirectory" type="string" value="$(arg save_pcd_directory)"/>
    <param name="glins/configDirectory" type="string" value="$(find glins)/config/"/>
    <param name="glins/sequence" type="string" value="MAP"/>
    <param name="glins/rtklibConfigPath" type="string" value="$(arg rtklib_config_path)"/>
    <param name="glins/fgoPath" type="string" value="$(arg fgo_path)"/>

    <node pkg="glins" type="glins_test_lio" name="glins_test_lio" output="screen">
        <param name="useRoslaunch" value="true" type="bool"/>
        <param name="bagpath" value="$(arg bagpath)" type="string"/>
        <param name="imu_topic" value="$(arg imu_topic)" type="string"/>
        <param name="lidar_topic" value="$(arg lidar_topic)" type="string"/>
        <param name="gps_week" value="$(arg gps_week)" type="int"/>
        <param name="start_sec" value="$(arg start_sec)" type="double"/>
        <param name="end_sec" value="$(arg end_sec)" type="double"/>
        <param name="output_path" value="$(arg output_path)" type="string"/>
    </node>

    <group if="$(arg robot_state_publisher)">
        <include file="$(find glins)/launch/include/module_robot_state_publisher.launch"/>
    </group>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="glins_rviz"
              args="-d $(arg rviz_config)"/>
    </group>
</launch>
