<launch>
    <arg name="params" default="$(find glins)/config/params_urbannav_medium_ablation.yaml"/>
    <arg name="gps_week" default="2158"/>
    <arg name="start_sec" default="95593"/>
    <arg name="end_sec" default="95713"/>
    <arg name="imu_bag_path" default="/data/zbwang/public/UrbanNav_HK_Medium_20210517/medium_public_0_120_uncompressed.bag"/>
    <arg name="imu_topic" default="/imu/data"/>
    <arg name="output_path" default="/tmp/glins_urbannav_gins.pos"/>
    <arg name="rtklib_config_path" default="$(find glins)/config/conf/Urban_medium_public.conf"/>

    <param name="use_sim_time" value="true"/>
    <rosparam file="$(arg params)" command="load"/>

    <param name="glins/useGPS" type="bool" value="true"/>
    <param name="glins/useObs" type="bool" value="true"/>
    <param name="glins/useCarrier" type="bool" value="true"/>
    <param name="glins/useLIO" type="bool" value="false"/>
    <param name="glins/useNHC" type="bool" value="false"/>
    <param name="glins/rtklibConfigPath" type="string" value="$(arg rtklib_config_path)"/>

    <node pkg="glins" type="glins_test_gins" name="glins_public_gins"
          output="screen" required="true">
        <param name="gnss_imu_only" value="true" type="bool"/>
        <param name="exit_on_completion" value="true" type="bool"/>
        <param name="gps_week" value="$(arg gps_week)" type="int"/>
        <param name="start_sec" value="$(arg start_sec)" type="double"/>
        <param name="end_sec" value="$(arg end_sec)" type="double"/>
        <param name="imu_bag_path" value="$(arg imu_bag_path)" type="string"/>
        <param name="imu_topic" value="$(arg imu_topic)" type="string"/>
        <param name="output_path" value="$(arg output_path)" type="string"/>
    </node>
</launch>
